<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <startAnalytics>
        <processor type="Sitecore.Support.Analytics.Pipelines.StartAnalytics.TrackerChecker, Sitecore.Support.147407" patch:after="processor[@type='Sitecore.Analytics.Pipelines.StartAnalytics.CreateTracker, Sitecore.Analytics']" />        
      </startAnalytics>
      <mvc.requestBegin>
        <processor type="Sitecore.Support.Mvc.Analytics.Pipelines.MvcEvents.RequestBegin.StartTracking, Sitecore.Support.147407" patch:instead="processor[@type='Sitecore.Mvc.Analytics.Pipelines.MvcEvents.RequestBegin.StartTracking, Sitecore.Mvc.Analytics']" />        
      </mvc.requestBegin>
    </pipelines>
  </sitecore>
</configuration>